{% extends "gaia-x-document-template/mkdocs_base.yml.j2" %}
{% block site_name %}Gaia-X Overview Specification Documents{% endblock %}

{% block nav %}
nav:
  - index.md
  - L01_IDM_AA/idm_aa.md
  - L02_IDM_PCM/idm_pcm.md 
  - L03_IDM_OCM/idm_ocm.md 
  - L04_IDM_TSA/idm_tsa.md 
  - L05_FC_CCF/fc_ccf.md 
  - L08_SDE_DCS/sde_dcs.md 
  - L09_SDE_DELS/sde_dels.md 
  - L10_CP_CAM/cp_cam.md 
  - L11_CP_OAW/cp_oaw.md 
  - L12_CP_NOTAR/cp_notar.md 
  - L13_IP_POR/ip_por.md 
  - L14_IP_ORC/ip_orc.md 
  - L17_IP_CDS/ip_cds.md 

{% endblock %}