<!DOCTYPE html>
<html>
  <head>
    <title> -{% if page.title %}{{ page.title }}- {% endif %}</title>
    <link rel="stylesheet" href="../../css/extra.css">
   </head>
  <body>
    <div id="first"> {% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</div>
    {{ page.content }}
  </body>
</html>
